<app-home></app-home>
<section id="sectiondefault">


  <!-- <div class="container min-vh-10">

        <div class="col-md-12 pt-3"> -->


  <kendo-panelbar>
    <kendo-panelbar-item icon="folder" title="Subir Diagnosticos Particulares" [expanded]="true">
      <ng-template kendoPanelBarContent>
        <form class="k-form" [formGroup]="form" (ngSubmit)="GuardarFile()">
          <div class="container-fluid" style="padding-bottom: 3rem;">
            <div class="row offset-1 gy-5 text-center pt-lg-3">
              <div class="col-md-4">
                <div class="input-group mb-3">
                  <input type="file" (change)="capturarFile($event)" class="form-control">

                </div>
              </div>

            </div>
            <div class="row offset-1 gy-5 text-center pt-lg-3">
              <div class="col-md-3">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon3">Diagnostico Particular </span>
                  <input formControlName="Programa" type="text" class="form-control" aria-describedby="basic-addon3"
                    placeholder="Programa">
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon3">Ejercicicio </span>
                  <input formControlName="Ejercicio" type="text" class="form-control" aria-describedby="basic-addon3"
                    placeholder="Año">
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group mb-3">
                  <select formControlName="Trimestre" class="form-select" aria-label="Default select example">
                    <option selected>Trimestre</option>
                    <option value={{primer}}>1er Trimestre {{ejercicio }}</option>
                    <option value="2do Trimestre">2do Trimestre</option>
                    <option value="3er Trimestre">3er Trimestre</option>
                    <option value="4to Trimestre">4to Trimestre</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row offset-1 gy-5 text-center pt-lg-3">
              <div class="col-md-9" *ngIf="previsualizacion">
                <button type="button" class="btn-outline-primary btn-lg" (click)="subirArchivo()">Subir Archivo</button>
                <div class="row pt-lg-3"></div>
                <object [data]='pdfSanitizado' type="application/pdf" width="600px" height="700px"></object>
                <!-- <iframe [src]="previsualizacion" width="200px" height="200px" ></iframe>
              <img [src]="previsualizacion"width="200px" height="200px" > -->
              </div>
            </div>
          </div>
        </form>
      </ng-template>
    </kendo-panelbar-item>
    <kendo-panelbar-item icon="folder" title="Visualizar Diagnosticos Particulares" [expanded]="true">
      <ng-template kendoPanelBarContent>
        <div class="container-fluid">
          <div class="row pt-lg-3">

            <div class="col-md-12 d-flex flex-column">
              <!-- Aqui va el Grid -->
              <table class="table table-striped">
                <caption>
                  Registros Archivos
                </caption>
                <thead>
                  <tr>
                    <th>Programa</th>
                    <th>Ejercicio</th>
                    <th>Trimestre</th>
                    <!-- <th>File</th> -->
                    <th style="width:10px">Nombre Archivo</th>
                    <th>Fecha</th>
                    <th>File2</th>
                    <th>Editar</th>
                    <th>Eliminar</th>


                  </tr>
                </thead>
                <tbody>
                  <!-- <i class="fas fa-redo" style="cursor:pointer" (click)="obtenerCreces()"></i> -->
                  <tr *ngFor="let File of Files | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td>{{ File.programa }}</td>
                    <td>{{ File.ejercicio}}</td>
                    <td>{{ File.trimestre}}</td>
                    <!-- <td  style="width:10px">
                              <object [data]="File.file | safe: 'resourceUrl'" type="application/pdf" width="600px" height="700px"></object></td> -->
                    <td>{{ File.archivoNombre}}</td>
                    <td>{{ File.fecha}}</td>
                    <td>
                      <button class="btn-primary" kendoButton *ngIf="!opened" (click)="toggle(true)">Diagnostico
                        Particular del Programa {{File.programa}}</button>
                      <kendo-window *ngIf="opened" [(top)]="windowTop" [(left)]="windowLeft" (close)="toggle(false)"
                        [height]="500" [width]="600">
                        <kendo-window-titlebar>
                          <div class="k-window-title">Diagnostico Particular del Programa {{File.programa}}</div>
                          <button kendoButton (click)="onClick()" icon="folder"></button>
                          <button kendoWindowMaximizeAction></button>
                          <button kendoWindowMinimizeAction></button>
                          <button kendoWindowRestoreAction></button>
                          <button kendoWindowCloseAction></button>
                        </kendo-window-titlebar>
                        <p style="text-align: center;">Nombre Archivo:{{File.archivoNombre}} </p>

                        <!-- <iframe src="{{gridItems.PlandeMejora}}"  style="width:100%;height: 900px;"></iframe> -->
                        <iframe [src]="File.file | safe: 'resourceUrl'" style="width:100%;height: 900px;"></iframe>
                      </kendo-window>
                      <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Plan de Mejora Continua de {{gridItems.PP}}</button> -->
                    </td>

                    <td>
                      <i (click)="editarFile(File)" class="far fa-edit text-info" style="cursor:pointer"></i>
                    </td>
                    <td>
                      <i (click)="eliminarFile(File.idFile)" class="far fa-trash-alt text-danger"
                        style="cursor:pointer"></i>
                    </td>

                  </tr>

                </tbody>
                &emsp;
              </table>
              <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="Anterior"
                nextLabel="Siguiente"></pagination-controls>

            </div>
          </div>

        </div>
      </ng-template>


    </kendo-panelbar-item>
  </kendo-panelbar>
  <!-- </div>
    </div> -->
</section>