<app-home></app-home>
<!-- <section id="slideshow">
      <div class="entire-content">
            <div class="content-carrousel">
                  <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
                                    src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GpR%20foto3.png?raw=true" /></a>
                  </figure>

                  <figure class="shadow"><a href="https://dpp.guanajuato.gob.mx/peg" target="_blank"><img
                                    src="https://github.com/dgp-dpp/Imagenes/blob/main/G%C3%A9nero%20blanco.png?raw=true" /></a>
                  </figure>

                  <figure class="shadow"><a href="https://dpp.guanajuato.gob.mx/repositorios/" target="_blank"><img
                                    src="https://github.com/dgp-dpp/Imagenes/blob/main/Repositorios%20azul.png?raw=true" /></a>
                  </figure>

                  <figure class="shadow"><a href="https://dpp.guanajuato.gob.mx/repositorios/repositorio-dpp-2024"
                              target="_blank"><img
                                    src="https://github.com/dgp-dpp/Imagenes/blob/main/Repositorio%202024%20negro.png?raw=true" /></a>
                  </figure>

                  <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
                                    src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GpR%20blanco.png?raw=true" /></a>
                  </figure>

                  <figure class="shadow"><a href="https://dpp.guanajuato.gob.mx/comite" target="_blank"><img
                                    src="https://github.com/dgp-dpp/Imagenes/blob/main/Comit%C3%A9%20azul.png?raw=true" /></a>
                  </figure>

                  <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
                                    src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GpR%20foto2.png?raw=true" /></a>
                  </figure>

                  <figure class="shadow"><a href="https://dpp.guanajuato.gob.mx/capacitacion " target="_blank"><img
                                    src="https://github.com/dgp-dpp/Imagenes/blob/main/Capacitaci%C3%B3n%20blanco.png?raw=true" /></a>
                  </figure>

                  <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
                                    src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GpR%20azul.png?raw=true" /></a>
                  </figure>

                  <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
                                    src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GpR%20foto1.png?raw=true" /></a>
                  </figure>
            </div>
      </div>

</section> -->

<div class="entire-content2">

      <div class="row">
            <div class="col-md">
                  <div class="card">
                        <img class="card-img-top"
                              src="../../../../assets/Images/SitioDpp/business-meeting-about-development_1.jpg">
                        <div class="card-body" style="background-color: blue;">
                              <div class="container-fluid">

                                    <div class="row">
                                          <div class="col-md-3"></div>
                                          <div class="col-md-2">
                                                <img class="card-img-bottom"
                                                      src="../../../../assets/Images/SitioDpp/logo letras blancas.png"
                                                      width="112px" height="75px">
                                          </div>
                                          <div class="col-md-3">
                                                <h4
                                                      style="align-content: center; text-align: center; color: aliceblue;">
                                                      Gestión para Resultados del Gobierno del Estado de
                                                      Guanajuato</h4>
                                          </div>

                                          <div class="col-md-2">
                                                <img width="100%" height="100%"
                                                      src="../../../../assets/Images/SitioDpp/MODELO PRESUPUESTARIO700x400.png"
                                                      width="132px" height="75px">
                                          </div>
                                          <div class="col-md-3">

                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>

      <div class="row pt-lg-3">
      </div>
      <div class="container-fluid">
            <div class="row justify-content-md-center">
                  <div class="col-lg-3">
                        <div class="card">
                              <img class="card-img-bottom" src="../../../../assets/Images/SitioDpp/PF2022.png">
                              <div class="card-body">
                              </div>
                              <button kendoButton routerLink="/PF2023" routerLinkActive="router-link-active"
                                    class="btn btn-outline-secondary" icon="folder"
                                    style="margin-left: 1.2rem; margin-right: 1.2rem; margin-bottom: 1.2rem;margin-top: -1rem; text-align: center; align-content: center;align-items: center;">Paquete
                                    Fiscal 2022</button>
                        </div>
                  </div>
                  <div class="col-lg-3">
                        <div class="card">
                              <img class="card-img-bottom" src="../../../../assets/Images/SitioDpp/PF2023.png">
                              <div class="card-body">
                              </div>
                              <button kendoButton routerLink="/PF2023" routerLinkActive="router-link-active"
                                    class="btn btn-outline-secondary" icon="folder"
                                    style="margin-left: 1.2rem; margin-right: 1.2rem; margin-bottom: 1.2rem;margin-top: -1rem; text-align: center; align-content: center;align-items: center;">Paquete
                                    Fiscal 2023</button>
                        </div>
                  </div>
                  <div class="col-lg-3">
                        <div class="card">
                              <img class="card-img-bottom" src="../../../../assets/Images/SitioDpp/PF2022.png">
                              <div class="card-body">
                              </div>
                              <button kendoButton routerLink="/PF2023" routerLinkActive="router-link-active"
                                    class="btn btn-outline-secondary" icon="folder"
                                    style="margin-left: 1.2rem; margin-right: 1.2rem; margin-bottom: 1.2rem;margin-top: -1rem; text-align: center; align-content: center;align-items: center;">Paquete
                                    Fiscal 2024</button>
                        </div>
                  </div>

            </div>
      </div>
<!-- </div> -->

<section class="ajustamelo">
      <!-- <div>             
                    <figure id="bar"></figure>
                         </div> -->

      <!-- <div class="custom-toolbar">
            <button kendoButton [svgIcon]="menuSvg" fillMode="flat" (click)="drawer.toggle()"></button>
            <span class="mail-box">Mail Box</span>
      </div>
      <kendo-drawer-container>
            <kendo-drawer #drawer [items]="items" mode="push" [mini]="true" [expanded]="true"
                  (select)="onSelect($event)" [autoCollapse]="false" [isItemExpanded]="isItemExpanded">
            </kendo-drawer>

            <kendo-drawer-content>
                  <my-content [selectedItem]="selected"></my-content>
            </kendo-drawer-content>
      </kendo-drawer-container> -->



</section>