<app-home></app-home>
<section id="slideshow">
  <div class="entire-content">
    <div class="content-carrousel">
      <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GpR%20foto3.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://dpp.guanajuato.gob.mx/peg" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/G%C3%A9nero%20blanco.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://dpp.guanajuato.gob.mx/repositorios/" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Repositorios%20azul.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://dpp.guanajuato.gob.mx/repositorios/repositorio-dpp-2024" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Repositorio%202024%20negro.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GpR%20blanco.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://dpp.guanajuato.gob.mx/comite" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Comit%C3%A9%20azul.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GpR%20foto2.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://dpp.guanajuato.gob.mx/capacitacion " target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Capacitaci%C3%B3n%20blanco.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GpR%20azul.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GpR%20foto1.png?raw=true" /></a>
      </figure>
    </div>
  </div>
</section>

<section id="graficos" >
        <div class="container" >
            <div class="row">
                  <div class="col-md-5">
                  </div>
                <div class="col-md-7">
                    
                    <figure id="bar"></figure>
                </div>
            </div>      
        </div>
</section>       
