<app-home></app-home>
<section id="slideshow">
  <div class="entire-content">
    <div class="content-carrousel">
      <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GPR%20negro.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://dpp.guanajuato.gob.mx/peg" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/G%C3%A9nero%20blanco.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GPR%20azul.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GPR%20negro.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GPR%20blanco.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://dpp.guanajuato.gob.mx/comite" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Comit%C3%A9%20azul.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GPR%20negro.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://dpp.guanajuato.gob.mx/capacitacion " target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Capacitaci%C3%B3n%20blanco.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GPR%20azul.png?raw=true" /></a>
      </figure>

      <figure class="shadow"><a href="https://equipogpr.guanajuato.gob.mx/" target="_blank"><img
            src="https://github.com/dgp-dpp/Imagenes/blob/main/Equipo%20GPR%20blanco.png?raw=true" /></a>
      </figure>
    </div>
  </div>
</section>
