/* html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
} */
#carru {
    margin: 0 auto;
    padding-top: 5px;
    height: 1400px;
    width: 100%;
   
    box-sizing: border-box;
}
.jumbotron{
    padding-top: 5px;
    padding-bottom: 3px;
    background-color:burlywood;
    position: sticky;
}
.row{
    flex-wrap: wrap;
    display: flex;
  overflow-x: auto;  
}
.templatenull {
  display: inline-block;
  background:#3333333f;
  color: #fff;
  font-weight:bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
}
.template9 {
    display: inline-block;
    background:#09ac32;
    color: #000000;
    font-weight:bold;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
  }
  .template6 {
    display: inline-block;
    background:#f10808;
    color:#000000;
    font-weight:bold;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
  }
 