<app-home></app-home>
<section id="carru">
    <!-- <div class="jumbotron text-center">
         <h1>Bienvenido {{Nombre}}! con Rol: {{Rol}}</h1> 
        <h2>
            <p>Catalogos </p>
        </h2>
    </div> -->
    <div class="container-fluid">
        <div class="row offset-sm-1 pt-lg-4">
            <div class="col-md-5">
                <kendo-card width="auto">
                    <kendo-card-header class="k-hstack">
                        <kendo-avatar width="40px" height="40px" [imageSrc]="thumbnailSrc"
                            shape="circle"></kendo-avatar>
                        <div>
                            <h1 kendoCardTitle>Catalogo de Programas Presupuestarios</h1>
                            <p kendoCardSubtitle>Numero de PP: 91</p>
                        </div>
                    </kendo-card-header>
                    <kendo-card-body>
                        <h4>Programas Presupuestarios{{today | date}}</h4>
                        <hr kendoCardSeparator />
                        <form class="k-form" [formGroup]="form" (ngSubmit)="GuardarPp()">
                            <div class="col-lg-12 d-flex flex-column">
                                <div class="row pt-lg-3">

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <i class="fa-solid fa-user fa-flip"
                                                style="--fa-animation-duration: 3s;"></i>
                                            &nbsp;

                                            <input placeholder="Nombre Usuario" [ngModelOptions]="{standalone: true}"
                                                kendoTextBox />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-lg-2">
                                <div class="col-md-3 d-flex flex-column">
                                    <div class="input-group-prepend">
                                        <i class="fa-solid fa-money-check-dollar fa-flip"
                                            style="--fa-animation-duration: 3s;"></i>
                                        &nbsp;
                                        <input type="text" placeholder="Clave PP" kendoTextBox>
                                    </div>
                                </div>
                            </div>

                            <div class="pt-lg-2">
                                <div class="col-md-9 d-flex flex-column">
                                    <div class="input-group-prepend">
                                        <i class="fa-solid fa-p fa-flip" style="--fa-animation-duration: 3s;"></i><i
                                            class="fa-solid fa-p fa-flip" style="--fa-animation-duration: 3s;"></i>
                                        &nbsp;
                                        <input type="text" placeholder="Nombre PP"  kendoTextBox>

                                    </div>
                                </div>
                            </div>

                            <div class="pt-lg-2">
                                <div class="col-md-3 d-flex flex-column">
                                    <div class="input-group-prepend">
                                        <i class="fa fa-calendar-days fa-flip"
                                            style="--fa-animation-duration: 3s;"></i>&nbsp;
                                        <kendo-maskedtextbox [maskOnFocus]="true" style="font-weight: normal;"
                                            [includeLiterals]="includeLiterals" placeholder="DD/MM/YYYY" [mask]="mask"
                                            [value]="maskvalue" formControlName="FechaEntrega" fillMode="solid" >
                                        </kendo-maskedtextbox>
                                        <!-- <div id="date" class="form-text">
                                            Fecha en que se actualiza
                                             </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="pt-lg-2">
                                <div class="row">
                                    <div class="col-md-1">
                                        <button kendoButton type="submit" class="none" aria-hidden="true"
                                            icon="redo">Enviar/Actualizar</button>
                                    </div>
                                </div>
                            </div>
                        </form>



                    </kendo-card-body>
                    <div class="row">
                        <div class="col-md-12">
                            <kendo-grid [height]="470" [pageable]="true" [sortable]="true" [pageSize]="gridState.take"
                                [resizable]="true" [skip]="gridState.skip" [sort]="gridState.sort" [filterable]="true"
                                [columnMenu]="menuSettings">
                                <ng-template kendoGridToolbarTemplate>
                                    <button kendoGridPDFCommand icon="file-pdf">Exportar a PDF</button>
                                    <button type="button" kendoGridExcelCommand icon="file-excel">
                                        Exportar a Excel
                                    </button>
                                </ng-template>

                                <kendo-grid-column field="clave" editor="text" title="Clave"
                                    [headerStyle]="{ 'background-color': ' #D2EDF0' }" [width]="90">
                                </kendo-grid-column>
                                <kendo-grid-column field="pp" editor="text" title="Pp"
                                    [headerStyle]="{ 'background-color': ' #D2EDF0' }" [width]="90">
                                </kendo-grid-column>
                                <kendo-grid-column field="periodo" editor="text"
                                    [headerStyle]="{ 'background-color': ' #D2EDF0' }" title="Periodo"
                                    [width]="250"></kendo-grid-column>
                                <kendo-grid-column field="avSeccion" url="text"
                                    [headerStyle]="{ 'background-color': ' #D2EDF0' }" title="Avance"
                                    [width]="100"></kendo-grid-column>
                                <kendo-grid-pdf fileName="Calficaciones.pdf" [allPages]="true" paperSize="A4"
                                    [repeatHeaders]="true" [landscape]="true">
                                    <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm">
                                    </kendo-grid-pdf-margin>
                                    <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                                        <div class="page-template">
                                            <div class="header">
                                                <div style="float: right">
                                                    Page {{ pageNum }} of {{ totalPages }}
                                                </div>
                                                Multi-page grid with automatic page breaking
                                            </div>
                                            <div class="footer">Page {{ pageNum }} of {{ totalPages }}</div>
                                        </div>
                                    </ng-template>
                                </kendo-grid-pdf>
                                <kendo-grid-excel fileName="Calficaciones.xlsx">
                                </kendo-grid-excel>
                            </kendo-grid>

                        </div>
                    </div>
                </kendo-card>
            </div>
            <!-- ---------------------------------Unidades Resposables-------------------------------- -->
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <kendo-card width="auto">
                    <kendo-card-header class="k-hstack">
                        <kendo-avatar width="40px" height="40px" [imageSrc]="thumbnailSrc"
                            shape="circle"></kendo-avatar>
                        <div>
                            <h1 kendoCardTitle>Catalogo de Unidades Responsables</h1>
                            <p kendoCardSubtitle>Numero de UR/URD: 91</p>
                        </div>
                    </kendo-card-header>
                    <kendo-card-body>
                        <h4>Unidades Responsables</h4>
                        <hr kendoCardSeparator />
                        <form class="k-form" [formGroup]="form" (ngSubmit)="GuardarPp()">
                            <div class="col-lg-9 d-flex flex-column">
                                <div class="row pt-lg-3">

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <i class="fa-solid fa-user fa-bounce"></i>
                                            &nbsp;

                                            <input placeholder="Nombre Usuario" [ngModelOptions]="{standalone: true}"
                                                kendoTextBox />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-lg-2">
                                <div class="col-md-3 d-flex flex-column" >
                                    <div class="input-group-prepend">
                                        <i class="fa-solid fa-user fa-bounce"></i>
                                        &nbsp;
                                        <input type="text" placeholder="Clave PP" kendoTextBox>
                                    </div>
                                </div>
                            </div>

                            <div class="pt-lg-2">
                                <div class="col-md-9 d-flex flex-column">
                                    <div class="input-group-prepend">
                                        <i class="fa-solid fa-user fa-bounce"></i>
                                        &nbsp;
                                        <input type="text" placeholder="Nombre PP" kendoTextBox>
                                    </div>
                                </div>
                            </div>

                            <div class="pt-lg-2">
                                <div class="col-md-3 d-flex flex-column" >
                                    <div class="input-group-prepend">
                                        <i class="fa fa-calendar-days fa-flip"
                                        style="--fa-animation-duration: 3s;"></i>&nbsp;
                                        <kendo-maskedtextbox [maskOnFocus]="true" style="font-weight: normal;"
                                            [includeLiterals]="includeLiterals" placeholder="DD/MM/YYYY" [mask]="mask"
                                            [value]="maskvalue" formControlName="FechaEntrega" fillMode="solid">
                                        </kendo-maskedtextbox>
                                    </div>
                                </div>
                            </div>

                            <div class="pt-lg-2">
                                <div class="row">
                                    <div class="col-md-1">
                                        <button kendoButton type="submit" class="none" aria-hidden="true"
                                            icon="redo">Enviar/Actualizar</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                        
                    </kendo-card-body>
                    <div class="row">
                            <div class="col-md-12">
                                <kendo-grid [height]="470" [pageable]="true" [sortable]="true"
                                    [pageSize]="gridState.take" [resizable]="true" [skip]="gridState.skip"
                                    [sort]="gridState.sort" [filterable]="true" [columnMenu]="menuSettings">
                                    <ng-template kendoGridToolbarTemplate>
                                        <button kendoGridPDFCommand icon="file-pdf">Exportar a PDF</button>
                                        <button type="button" kendoGridExcelCommand icon="file-excel">
                                            Exportar a Excel
                                        </button>
                                    </ng-template>

                                    <kendo-grid-column field="clave" editor="text" title="Clave"
                                        [headerStyle]="{ 'background-color': ' #D2EDF0' }" [width]="90">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="pp" editor="text" title="Pp"
                                        [headerStyle]="{ 'background-color': ' #D2EDF0' }" [width]="90">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="periodo" editor="text"
                                        [headerStyle]="{ 'background-color': ' #D2EDF0' }" title="Periodo"
                                        [width]="250"></kendo-grid-column>
                                    <kendo-grid-column field="avSeccion" url="text"
                                        [headerStyle]="{ 'background-color': ' #D2EDF0' }" title="Avance"
                                        [width]="100"></kendo-grid-column>
                                    <kendo-grid-pdf fileName="Calficaciones.pdf" [allPages]="true" paperSize="A4"
                                        [repeatHeaders]="true" [landscape]="true">
                                        <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm">
                                        </kendo-grid-pdf-margin>
                                        <ng-template kendoGridPDFTemplate let-pageNum="pageNum"
                                            let-totalPages="totalPages">
                                            <div class="page-template">
                                                <div class="header">
                                                    <div style="float: right">
                                                        Page {{ pageNum }} of {{ totalPages }}
                                                    </div>
                                                    Multi-page grid with automatic page breaking
                                                </div>
                                                <div class="footer">Page {{ pageNum }} of {{ totalPages }}</div>
                                            </div>
                                        </ng-template>
                                    </kendo-grid-pdf>
                                    <kendo-grid-excel fileName="Calficaciones.xlsx">
                                    </kendo-grid-excel>
                                </kendo-grid>

                            </div>
                        </div>

                </kendo-card>
            </div>
        </div>
    </div>
</section>