#sectiondefault {
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    height: 2200px;
    width: 100%;
  
    box-sizing: border-box;
  }
  .row{
    flex-wrap: wrap;
    display: flex;
  overflow-x: auto;  
  }
  